@model EduConnect.Web.EduServiceReference.Users



@{
    ViewBag.Title = "Home -";
}



<h4>Welcome @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h4>
<table class="table" align="left" cellspacing="30"cellpadding="5">
    <tr>
        <th>
            EduID:
        </th>
        <th>
            @Html.DisplayFor(model => model.EduId)
        </th>
    </tr>
    <tr>
        <th>
            First Name:
        </th>
        <th>
            @Html.DisplayFor(model => model.FirstName)
        </th>
    </tr>
    <tr>
        <th>
            Middle Name:
        </th>
        <th>
            @Html.DisplayFor(model => model.MiddleName)
        </th>
    </tr>
    <tr>
        <th>
            Last Name:
        </th>
        <th>
            @Html.DisplayFor(model => model.LastName)
        </th>
    </tr>
    <tr>
        <th>
            Birth Date:
        </th>
        <th>
            @Html.DisplayFor(model => model.BirthDate)
        </th>
    </tr>
    <tr>
        <th>
            Birth Place:
        </th>
        <th>
            @Html.DisplayFor(model => model.BirthPlace)
        </th>
    </tr>
    <tr>
        <th>
            Mother's Name:
        </th>
        <th>
            @Html.DisplayFor(model => model.MothersName)
        </th>
    </tr>
    <tr>
        <th>
            E-mail:
        </th>
        <th>
            @Html.DisplayFor(model => model.Email)
        </th>
    </tr>
    <tr>
        <th>
            Insert Date:
        </th>
        <th>
            @Html.DisplayFor(model => model.InsertDate)
        </th>
    </tr>
    <tr>
        <th>
            Medical Card Id:
        </th>
        <th>
            @Html.DisplayFor(model => model.MedicalCardId)
        </th>
    </tr>
    <tr>
        <th>
            Nationality:
        </th>
        <th>
            @Html.DisplayFor(model => model.Nationality)
        </th>
    </tr>
    <tr>
        <th>
            Semester Id:
        </th>
        <th>
            @Html.DisplayFor(model => model.SemesterId)
        </th>
    </tr>
    <tr>
        <th>
            Semester State:
        </th>
        <th>
            @Html.DisplayFor(model => model.SemesterState)
        </th>
    </tr>

</table>
<hr />

