@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

@model EduConnect.Web.ViewModels.AccountViewModel

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h2>Log in.</h2>
    <h4>Use an EduConnect account to log in.</h4>
    <hr />
    @using (Html.BeginForm("Login", "Account", FormMethod.Post))
    {
        @ViewBag.Error
        <table cellpadding="2" cellspacing="2">
            <tr>
                <td>@Html.LabelFor(model => model.Account.Username, new { @class = "col-md-2 control-label" })</td>
                <td>@Html.TextBoxFor(model => model.Account.Username, new { @class = "form-control" })</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Account.Password, new { @class = "col-md-2 control-label" })</td>
                <td>@Html.PasswordFor(model => model.Account.Password, new { @class = "form-control" })</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td><input type="submit" value="Login" class="btn btn-default" /></td>
            </tr>
        </table>
    }
</body>

</html>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}