@using EduConnect.Web.Security
@using EduConnect.Web.Controllers
@model List<EduConnect.Web.EduServiceReference.Messages>

@{
    ViewBag.Title = "Messages -";
}



<h2>Messages</h2>
<hr />

<h4>Inbox</h4>
<table border="1">
    <tr>
        <th>From</th>
        <th>Date</th>
        <th>Subject</th>
    </tr>
    @foreach (var msg in Model)
    {
        Converter c = new Converter();

        if (msg.FromUserId != SessionPersister.UserID)
        {
            <tr>
                <td>@Html.ActionLink(c.idToName(msg.FromUserId), "Read", "Messages")</td>
                <td>@msg.SentDate</td>
                <td>@msg.Subject</td>
            </tr>
        }

    }
</table>

<h4>Sent</h4>
<table border="1">
    <tr>
        <th>To</th>
        <th>Date</th>
        <th>Subject</th>
    </tr>
    @foreach (var msg in Model)
    {
        Converter c = new Converter();

        if (msg.ToUserId!=SessionPersister.UserID)
        {

            <tr>
                <td>@Html.ActionLink(c.idToName(msg.ToUserId), "")</td>
                <td>@msg.SentDate</td>
                <td>@msg.Subject</td>
            </tr>
        }
        
    }
</table>

<hr />
@Html.ActionLink("New Message", "New", "Messages")