@model EduConnect.Web.EduServiceReference.Messages

@{
    ViewBag.Title = "Read";
}

<h2>Read</h2>

<div>
    <h4>Messages</h4>
    <hr />
    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.FromUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FromUserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Message)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Message)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Read)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Read)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SentDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject)
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.ToUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToUserId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
